// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-container {
  margin-top: 30px;
}

a.social-btn:link, a.social-btn:visited {
  background-color: #287bbc;
  border-color: #287bbc;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

a.social-btn:hover {
  background-color: #fff;
  text-decoration: none;
  color: #287bbc;
}
